@CHARSET "UTF-8";

.row:before,
.row:after {
    content: "";
    display: table;
    clear: both;
}
[class *= 'c-'] {
    float: left;
    min-height: 1px;
    box-sizing: border-box
    padding: 12px; /* 设置间距 */
}
@media all and (min-width: 769px) {
    .c-1 { width: 8.333%; } 
	.c-2 { width: 16.66%; } 
	.c-3 { width: 25%; } 
	.c-4 { width: 33.33%; } 
	.c-5 { width: 41.66%; } 
	.c-6 { width: 50%; }
	.c-7 { width: 58.33%; } 
	.c-8 { width: 66.66%; } 
	.c-9 { width: 75%; } 
	.c-10 { width: 83.33%; } 
	.c-11 { width: 91.66%; } 
	.c-12 { width: 100%; }
    .c-m-hide{
    	display: none;
    }
}

@media all and (max-width: 768px) {
    [class *= 'c-'] { 
	   width:100%;
	}
    .c-s-hide{
    	display: none;
    }
}